Flask==1.1.1
Flask-Cors==3.0.8
numpy==1.16.4
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-hub==0.5.0
termcolor==1.1.0
tf-sentencepiece==0.1.82
veriservice==0.0.19
spacy==2.1.6
